.para-text{
    color: #EC0019 !important;
    font-family: "Fira Sans", Sans-serif !important;
    font-size: 50px !important;
    font-weight: 200 !important;
    text-align: center !important;
    margin-top: 20px;
}
