/* .close-btn{ */
    /* color: black; */
    /* border-radius: 50%; */
    /* border: 1px solid black; */
    /* padding-right: px; */
    /* font-size: 35px; */
    /* margin-top: 50px; */
    /* margin-right:20px; */
/* } */
/* @media only screen and (max-width: 767px){	 */
	/* .header-style-three .header-top-two .search-toggler { */
	/*     display: none; */
	/* } */
    /* .navbar-right-info{ */
/* display: none; */
    /* } */
   /*  */
    /*  */
	/*  */
/* } */

.side-text{
    margin-top: 80px;
    margin-left: 50px;
    font-weight: 900 !important;
    font-size: 32px;

}
.side-para{
    color:rgb(140,133,158);
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
}
.side-icon{
    color: red;
}
.side-para1{
    color:rgb(140,133,158);
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
}
.side-icon{
  /* margin-top: 50px; */
  /* margin-left: 50px; */
  color: rgb(206,34,34);
 
}

.navbar-right-info1{
    display: none;
}

@media only screen and (max-width: 767px){
    .logo1{
        display: block !important;
    }
    .navbar-right-info{
        display: none;
    } 
    .navbar-right-info1{
        display: block;
    }
    .search-toggler{
        display: none;
    }
}

.fa-angle-down{
    font-size: 20px !important;
    padding-left: 10px;
    
}
/* .header-upper{ */
    /* width: 100% !important; */
    /* position: fixed !important; */
    /*  */
    /* top: 0  !important; */
    /* background-color: #fff  !important; */
    /* z-index: 100  !important; */
/* } */


/* mobile menu */
.sidebar{
    width: 260px;
    flex-shrink: 0;
    background-color: rgba(22, 22, 22, 1);
    height: 100%;
    overflow: auto;
  }
  
  
  .sidebar-item{
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
  }
  .sidebar-item:hover{
    background-color: rgba(255, 255, 255, .1);
  }
  
  .sidebar-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }
  
  .sidebar-item.plain{
    color: #fff;
    text-decoration: none;
  }
  .sidebar-item.plain:hover{
    text-decoration: underline;
  }
  .sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
  }

  